* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #4d77ff;
  --accent-color-rgb: 77, 119, 255;
  --text-color: 20, 20, 20;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: rgb(220, 165, 0);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
  transition: background-color 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
}

body[data-theme="dark"] {
  --accent-color: #a0b6ff;
  --accent-color-rgb: 160, 182, 255;
  --text-color: 220, 220, 220;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
  sm-popup::part(popup) {
    background-color: rgba(var(--foreground-color), 1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &,
  & > * {
    font-weight: 400;
    font-family: "Calistoga", cursive;
  }
}

p,
strong {
  font-size: 0.9rem;
  max-width: 65ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.9);
}
.warning {
  line-height: normal;
  padding: 1rem;
  background-color: khaki;
  border-radius: 0.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
a {
  text-decoration: none;
  color: var(--accent-color);
  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}
a.button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: inherit;
}

button {
  user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.8rem;
  border-radius: 0.3rem;
  justify-content: center;
  flex-shrink: 0;
  &:focus-visible {
    outline: var(--accent-color) solid medium;
  }
  &:not(:disabled) {
    color: var(--accent-color);
    cursor: pointer;
  }
  .icon {
    fill: var(--accent-color);
  }
}
.button {
  background-color: rgba(var(--text-color), 0.06);
  &--primary,
  &--danger {
    color: rgba(var(--background-color), 1) !important;
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }
  &--primary {
    background-color: var(--accent-color);
  }
  &--danger {
    background-color: var(--danger-color);
  }
  &--small {
    padding: 0.4rem 0.5rem;
  }
}
.cta {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.8rem 1rem;
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
  flex-shrink: 0;
}
.icon-only {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

button:disabled {
  opacity: 0.5;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

details summary {
  display: flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
}

details[open] {
  & summary {
    margin-bottom: 1rem;
  }
  & > summary .down-arrow {
    transform: rotate(180deg);
  }
}

sm-input,
sm-textarea {
  width: 100%;
  --border-radius: 0.4rem;
  --background-color: rgba(var(--foreground-color), 1);
  button {
    .icon {
      fill: var(--accent-color);
    }
  }
}
sm-button {
  --padding: 0.8rem;
  &[variant="primary"] {
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }

  &[disabled] {
    .icon {
      fill: rgba(var(--text-color), 0.6);
    }
  }
  &.danger {
    --background: var(--danger-color);
    color: rgba(var(--background-color), 1);
  }
}
sm-spinner {
  --size: 1rem;
  --stroke-width: 0.1rem;
}
sm-form {
  --gap: 1rem;
}
sm-select {
  font-size: 0.9rem;
  --padding: 0.6rem 0.3rem 0.6rem 0.6rem;
}
sm-option {
  font-size: 0.9rem;
}
sm-chips {
  --gap: 0;
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.3rem;
  padding: 0.3rem;
}
sm-chip {
  font-size: 0.9rem;
  --border-radius: 0.2rem;
  user-select: none;
  &[selected] {
    color: rgba(var(--background-color), 1);
    --background: var(--accent-color);
  }
}
ul,
ol {
  list-style: none;
}
ol {
  counter-reset: item;
  li {
    position: relative;
    display: flex;
    align-items: flex-start;
    counter-increment: item;
    &:not(:last-of-type) {
      padding-bottom: 1.5rem;
      &::after {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: calc(100% - 2.2rem);
        background: var(--accent-color);
        margin-left: 0.7rem;
        margin-top: 2rem;
      }
    }
  }
  li::before {
    content: counter(item);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.15rem;
    margin-right: 1rem;
    line-height: 1;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    flex-shrink: 0;
    color: rgba(var(--text-color), 0.8);
    background: rgba(var(--text-color), 0.1);
  }
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap-around {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.full-bleed {
  grid-column: 1/-1;
}
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}
.flow-column {
  grid-auto-flow: column;
}

.gap-0-3 {
  gap: 0.3rem;
}
.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-items: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.label {
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.8);
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.button--primary,
.button--danger {
  .ripple {
    background: radial-gradient(
      circle,
      rgba(var(--background-color), 0.3) 0%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}
.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(
    circle,
    rgba(var(--text-color), 0.3) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  pointer-events: none;
}
.interactive {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.empty-state {
  display: grid;
  width: 100%;
  padding: 1.5rem 0;
}

.observe-empty-state:empty {
  display: none !important;
}

.observe-empty-state:not(:empty) + .empty-state {
  display: none !important;
}

.bullet-point {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.8ch;
  &::after {
    content: "";
    height: 0.4ch;
    width: 0.4ch;
    border-radius: 0.5em;
    background-color: var(--accent-color);
  }
}
.margin-right-0-3 {
  margin-right: 0.3rem;
}
.margin-right-0-5 {
  margin-right: 0.5rem;
}

.margin-left-0-5 {
  margin-left: 0.5rem;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-top-1-5 {
  margin-top: 1.5rem;
}
.margin-bottom-0-5 {
  margin-bottom: 0.5rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-1-5 {
  margin-bottom: 1.5rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}

.icon-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: rgba(var(--text-color), 0.1);
  height: max-content;
  .icon {
    fill: var(--accent-color);
  }
}
.page {
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    min-height: 8rem;
    .grid {
      margin-top: auto;
    }
    h1 {
      margin-top: auto;
      font-size: 2rem;
    }
  }
}
#confirmation_popup,
#prompt_popup {
  flex-direction: column;
  h4 {
    margin-bottom: 0.5rem;
  }
  sm-button {
    margin: 0;
  }
  .flex {
    padding: 0;
    margin-top: 1rem;
    sm-button:first-of-type {
      margin-right: 0.6rem;
      margin-left: auto;
    }
  }
}
#prompt_message {
  margin-bottom: 1.5rem;
}

.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem;
  align-items: center;
}

.popup__header__close {
  padding: 0.5rem;
  margin-left: -0.5rem;
}
.flo-icon {
  margin-right: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}
#secondary_pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  header {
    padding: 1.5rem;
  }
  .inner-page {
    height: 100%;
  }
}
#landing {
  & > section {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 8vw 0;
  }
  h1 {
    font-size: clamp(2rem, 5vw, 5rem);
  }
}
#loading_page {
  display: grid;
  gap: 1rem;
  place-content: center;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(var(--foreground-color), 1);
}
#main_header {
  padding: 1.5rem max(1rem, 4vw);
}
#main_card {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s;
  background-color: rgba(var(--foreground-color), 1);
}

#main_navbar {
  display: flex;
  background: rgba(var(--text-color), 0.03);
  &.hide-away {
    position: absolute;
  }
  ul {
    display: flex;
    height: 100%;
    width: 100%;
    li {
      width: 100%;
    }
  }
}
.nav-item {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.3rem;
  color: var(--text-color);
  font-size: 0.9rem;
  border-radius: 0.3rem;
  font-weight: 500;
  .icon {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &__title {
    margin-top: 0.3rem;
    transition: opacity 0.2s,
      transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &--active {
    color: var(--accent-color);
    .icon {
      fill: var(--accent-color);
      transform: translateY(50%);
    }
    .nav-item__title {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  &__indicator {
    position: absolute;
    bottom: 0;
    width: 2rem;
    height: 0.3rem;
    background: var(--accent-color);
    border-radius: 1rem 1rem 0 0;
    z-index: 1;
  }
}
.inner-page {
  padding: 0 1.5rem;
  flex: 1;
  overflow-y: auto;
  align-content: start;
}

.password-field {
  label {
    display: flex;
    input:checked ~ .visible {
      display: none;
    }
    input:not(:checked) ~ .invisible {
      display: none;
    }
  }
}
.multi-state-button {
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  & > * {
    grid-area: 1/1/2/2;
  }
  button {
    z-index: 1;
    width: 100%;
  }
}
.scrolling-wrapper {
  overflow-y: auto;
}
#pages_container {
  overflow-y: auto;
  padding: 0 1rem;
}
.primary-action {
  display: flex;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  white-space: normal;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: thin solid rgba(var(--text-color), 0.3);
  text-align: left;
  flex-shrink: 1;
  .icon {
    fill: var(--accent-color);
  }
}
#flo_id_warning {
  padding-bottom: 1.5rem;
  border-bottom: thin solid rgba(var(--text-color), 0.3);
  .icon {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    background-color: #ffc107;
    border-radius: 3rem;
    fill: rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5rem;
  }
}
.generated-id-card {
  display: grid;
  gap: 1rem;
  h5 {
    margin-bottom: 0.3rem;
  }
}
#address_balance_card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: rgba(var(--accent-color-rgb), 0.2);
}
#address_balance {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-color);
}
.card {
  padding: 0.5rem 0;
  border: none;
  &:not(:last-of-type) {
    border-bottom: solid thin rgba(var(--text-color), 0.3);
  }
}
.remove-card-wrapper {
  min-height: 2rem;
}
.sender-card {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  sm-input {
    border-radius: 0.5rem;
    &.error {
      border: var(--danger-color) solid;
    }
  }
}
.receiver-card {
  display: grid;
  gap: 0.5rem;
}
.balance-wrapper {
  padding-bottom: 0.5rem;
  border-bottom: thin solid rgba(var(--text-color), 0.3);
}

#transactions_list {
  display: grid;
  gap: 2rem;
  padding-bottom: 4rem;
}
.transaction {
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem 1rem;
  align-items: center;
  grid-template-areas: "icon time amount" "icon receiver receiver" "icon txid txid";
  &:not(:last-of-type) {
    padding-bottom: 1rem;
  }
  &__amount {
    white-space: nowrap;
  }
  &.out {
    .icon {
      fill: var(--danger-color);
    }
    .transaction__amount {
      color: var(--danger-color);
      &::before {
        content: "- ";
      }
    }
  }
  &.in {
    .icon {
      fill: var(--green);
    }
    .transaction__amount {
      color: var(--green);
      &::before {
        content: "+ ";
      }
    }
  }
  &.unconfirmed-tx {
    grid-template-areas: "icon time amount" "icon receiver receiver" "icon txid txid" "icon unconfirmed unconfirmed" "icon badge badge";
    .icon {
      fill: var(--yellow);
    }
  }
  &__icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(var(--text-color), 0.03);
    border-radius: 2rem;
  }
  &__receiver {
    grid-area: receiver;
    font-weight: 500;
    margin-bottom: 0.3rem;
    line-height: 1.5;
  }
  &__time {
    grid-area: time;
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.8);
  }
  .pending-badge {
    grid-area: badge;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    color: rgba(var(--foreground-color), 1);
    font-weight: 500;
    justify-self: flex-start;
  }
  &__amount {
    grid-area: amount;
    font-size: 1rem;
    font-weight: 700;
  }
  &__id {
    grid-area: txid;
    font-size: 0.9rem;
    color: rgba(var(--text-color), 0.8);
  }
  .unconfirmed-wrapper {
    grid-area: unconfirmed;
    padding: 0.5rem 0;
  }
}
.tx-participant {
  &:not(:last-of-type) {
    &::after {
      content: ",";
    }
    margin-right: 0.5rem;
  }
}
table {
  tr {
    text-align: left;
    td,
    th {
      padding: 0.8rem 0.5rem;
    }
    &:nth-child(even) {
      background-color: rgba(var(--text-color), 0.05);
    }
  }
}
#in_out_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}
.in-out-card {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--text-color), 0.03);
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
  & > :first-child {
    margin-right: 1rem;
  }
}
#selected_fee_tip {
  font-weight: 500;
  &.error {
    color: var(--danger-color);
    .icon {
      fill: var(--danger-color);
    }
  }
}
.fab {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#scroll_to_top {
  border-radius: 3rem;
  background-color: rgba(var(--foreground-color), 1);
}
#txid {
  font-size: 0.9rem;
}
.user-action-result__icon {
  justify-self: center;
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  animation: popup 1s;
  &.success {
    fill: rgba(var(--background-color), 1);
    padding: 1rem;
    background-color: #0bbe56;
  }
  &.failed {
    background-color: rgba(var(--text-color), 0.03);
    fill: var(--danger-color);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(600%);
  }
  10% {
    transform: scale(0.2) translateY(5rem);
    opacity: 1;
  }
  40% {
    transform: scale(0.2) translateY(0);
  }
  80% {
    transform: scale(1.1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@media screen and (max-width: 40rem) {
  #main_navbar {
    &.hide-away {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
@media screen and (min-width: 40rem) {
  sm-popup {
    --width: 24rem;
  }
  .popup__header {
    grid-column: 1/-1;
    padding: 1rem 1.5rem 0 1.5rem;
  }
  body {
    align-items: center;
    justify-content: center;
  }

  #main_card {
    grid-template-areas: "header" ".";
    &:not(.nav-hidden) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "nav header" "nav .";
    }
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05),
      0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
  #main_header {
    grid-area: header;
  }
  #main_navbar {
    grid-area: nav;
    border-top: none;
    flex-direction: column;
    background-color: rgba(37 110 255/ 0.03);
    ul {
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.3rem;
    }
  }
  .nav-item {
    aspect-ratio: 1/1;
    &__indicator {
      width: 0.25rem;
      height: 50%;
      left: 0;
      border-radius: 0 1rem 1rem 0;
      bottom: auto;
    }
  }
  body[data-theme="dark"] {
    #main_navbar {
      background-color: rgba(0 0 0/ 0.2);
    }
  }
  #pages_container {
    padding: 0 4vw;
  }
  #generate_btc_addr_popup,
  #retrieve_btc_addr_popup {
    --width: 28rem;
  }
}
@media screen and (min-width: 48rem) {
  .sender-card,
  .receiver-card {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 64rem) {
  #pages_container {
    padding: 0 12vw;
  }
}
@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
    border-radius: 1rem;
    &:hover {
      background: rgba(var(--text-color), 0.5);
    }
  }
  .interactive:not([disabled]) {
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(var(--text-color), 0.06);
    }
  }
  button:not([disabled]),
  .button:not([disabled]) {
    transition: background-color 0.3s, filter 0.3s;
    &:hover {
      filter: contrast(2);
    }
  }
}

@supports (overflow: overlay) {
  body {
    overflow: overlay;
  }
}

.hidden {
  display: none !important;
}
